/* Pico CSS */
@use "@picocss/pico";

/* App layout */
body {
  background-color: var(--pico-background-color);
  color: var(--pico-color);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

#app {
  min-height: 100dvh;
}
