/* Pico CSS */
// @use "@picocss/pico";
@import "@picocss/pico/css/pico.colors.css";

/* App layout */
body {
  background-color: var(--pico-background-color);
  color: var(--pico-color);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

#app {
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6
{ font-size: var(--pico-font-size); line-height: var(--pico-line-height); font-weight: var(--pico-font-weight, 700); }

.copyable {
  cursor: pointer;

  &:hover {
    color: var(--pico-primary);
    font-weight: bold;
  }
}